<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ku.vaccintory">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vaccintory">
        <activity
            android:name=".calendar.info.Info"
            android:exported="true"
            android:label="@string/title_activity_info"
            android:theme="@style/Theme.Vaccintory.NoActionBar" />
        <activity
            android:name=".calendar.info.MainInfo"
            android:exported="true" />
        <activity
            android:name=".calendar.info.EditInfo"
            android:exported="true" />
        <activity
            android:name=".chatbot.ui.MainChatBot"
            android:exported="true" />
        <activity
            android:name=".calendar.MainCalendar"
            android:exported="true" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Main.MenuNotifyReceiver"/>
        <receiver android:name=".calendar.info.NotifyReceiver"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>